body{
    background:linear-gradient(90deg,#192436,#192436);
    height: 100%;
    line-height: 1;
    user-select: none;
}

.top ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 20px ;
  overflow: hidden;
  background: linear-gradient(90deg,#192436,#192436);
}

li a {
  display: block;
  color: #ffffff;
  font-family: Tw Cen MT;
  font-size: 1.1em;
  text-align: center;
  padding: 14px 16px;
  margin: 0px 20px;
  text-decoration: none;
}

li a:hover {
  color: rgb(7, 11, 44);
  background: linear-gradient(270deg ,#fffcff,#d5fefd);
;
}

#Rules{
    font-size:3em;
    font-family:Raleway;
    text-align: center;
    color: lightblue;
    
    }
  #headCenter{
      font-weight: 1000;
      font-size: 150%;
      color:#BCD2E8;
      position: center;
      margin-left: 1cm;
      
  }
  #contentCenter
  {
    margin-left: 1cm;
    color:#73A5C6;
  }