body{
    background:linear-gradient(90deg,#192436,#192436);
    height: 100%;
    line-height: 1;
    user-select: none;
}

header
{
    background: -webkit-linear-gradient(0deg ,#7CFFCB,#7EE8FA);
    border-radius: 10px;
    font-family: Century Gothic;
    font-size: 20px;
    
}
.top ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 20px ;
  overflow: hidden;
  background: linear-gradient(90deg,#192436,#192436);
}



li a {
  display: block;
  color: #ffffff;
  font-family: Tw Cen MT;
  font-size: 1.1em;
  text-align: center;
  padding: 14px 16px;
  margin: 0px 20px;
  text-decoration: none;
}

li a:hover {
  color: rgb(7, 11, 44);
  background: linear-gradient(270deg ,#fffcff,#d5fefd);
;
}
wrapper{
  width: 1080px; 
}
#Home{
  position: relative;
  top: 250px;
  font: normal 40px/50px 'Raleway';
  color: #999;
}
p1{
  white-space: nowrap;
}
b {
  overflow: hidden;
  position: relative;
  height: 50px;
  float: left; 
}

p2{
  font-family:Tw Cen Mt;
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  font-size: 55px;
  letter-spacing: 2px;
}
p3{
  height: 50px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: 85px;
}
span1 {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  animation: move 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  font-size: 65px;
  letter-spacing: 2px;
}
@keyframes move {
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px;}
  60% { top: -0px;}
  60% { top: -0px;}
}

.Form
{
  width: 350px;  
  padding: 92px;
  position:absolute;
  margin-top: 40%;
  left: 80%;
  transform: translate(-50%,-50%);
  background: #f1e0e0;
  text-align: center;
  border-radius: 0px 40px 0px  40px ;
  opacity:1;
}

.err_msg
{
    color:#f75c5c;
    font-family: Tw Cen MT;
    font-size:10px;
    font-weight: bold;
}

::placeholder{
    color: rgb(39, 38, 38);
}
input:focus::placeholder {
    color: rgb(145, 136, 136);
  }
input[type=text]
{
    border:0;
  background: whitesmoke;
  display: block;
  margin:-2px auto;
  text-align: center;
  font-family: Tw Cen MT;
  font-size: 18px;
  font-weight: 1000;
  border: 3px solid #33FFFF;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: rgb(39, 38, 38);
  border-radius: 20px;
  transition: 0.25s;
  
}
input[type=email]

{
    border:0;
  background: whitesmoke;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-weight: 1000;
  border: 3px solid #33FFFF;
  padding: 10px 10px;
  width: 200px;
  outline: none;
  color: rgb(39, 38, 38);
  border-radius: 24px;
  transition: 0.25s;
  font-family: Tw Cen MT;
  font-size: 18px;
}
input[type = "text"]:focus
{
  width: 280px;
  border-color: #FFFF66;
}

input[type = "email"]:focus
{
  width: 280px;
  border-color: #FFFF66 ;
}
.text{
    font-family: Tw Cen MT;
    font-size: 18px;
    font-weight: bold;
    color: rgb(39, 38, 38);
    margin:10px auto;
}
#state{
    text-align: center;
    font-family: Tw Cen MT;
    font-size: 18px;
    font-weight:800;
    border: 3px solid #33FFFF;
    border-radius: 24px;
    margin:10px auto;

}
#gender{
    text-align: center;
    font-family: Tw Cen MT;
    font-size: 18px;
    font-weight: 800;
    border: 3px solid #33FFFF;
    border-radius: 24px;
    margin:10px auto;

}
#gender:focus
{
  border-radius: 24px; 
  border-color: #FFFF66 ;
}
#state:focus
{
  border-radius: 24px; 
  border-color: #FFFF66 ;
}

#datemax
{
    text-align: center;
    font-family: Tw Cen MT;
    font-size: 18px;
    font-weight: 800;
    border: 3px solid #33FFFF;
    border-radius: 24px;
    margin:10px auto;       
}

#datemax:focus
{
  border-radius: 24px; 
  border-color: #FFFF66 ;
}

input[type = "submit"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  width: 150px;
  text-align: center;
  font-weight:bold;
  font-family:bahnschrift;
  font-size: 16px;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  background: linear-gradient(90deg , #ff2525,#ffeb3b, #03a9f4, #FF2525 );
  background-size: 400%;
  border-radius: 40px;
}
input[type = "submit"]:hover
{
   animation : animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
               100%
    {
        background-position: 400%;
    }
}

